<link rel="stylesheet" href="/css/shop.css">
<h1>All Products</h1>
<% if (products.length > 0) { %>
    <div class="card-deck">
        <% for (const product of products) { %>
            <div class="card">
                <img class="card-img-top" src="<%= product.images[0] %>" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title"><%= product.title %></h5>
                    <h5 class="card-title">₽<%= product.price %></h5>
                    <form action="/cart/add/<%= product._id %>" method="POST">
                        <button type="submit">Add to Cart</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <div class="empty">
        <h2>No products found in this Category</h2>
        <a href="/categories" id="a">Back to Categories</a>
    </div>
<% } %>
  