<link rel="stylesheet" href="css/form.css">

<div class="div-container">
    <h1>Login</h1>
  <form action="/login" method="POST">
    <p>
      <label for="email">E-Mail</label>
      <input type="email" name="email" id="email" required />
    </p>

    <p>
      <label for="password">Password</label>
      <input    
        type="password"
        name="password"
        id="password"
        minlength="6"
        required
      />
    </p>
    <button>Login</button>
    <p id="par">Don't have an account? <a href="/signup">Signup</a></p>
  </form>
</div>
